[MAIN]
DEBUG = True
SECRET_KEY = rnojxd^^kaofaw696cj5g_ce($e2uq2xhm*&$05kp0*m&7_4na
ALLOWED_HOSTS = 127.0.0.1, 172.16.20.120
TIME_ZONE = America/Puerto_Rico
LANGUAGE_MODE = CH


[DATABASE]
DATABASE_ENGINE = django.db.backends.postgresql_psycopg2
DATABASE_NAME = DB_NAME
DATABASE_USER = DB_USER_NAME
DATABASE_PASSWORD = DB_PASSWORD
DATABASE_HOST = localhost
DATABASE_PORT = 5432


[CHANNEL]
CHANNEL_PORT = 6379


[MODEL]
PINYIN_REVERSE = 1


[TWICE]
TWICE_HOST = 127.0.0.1
TWICE_TCPSOCKET_PORT = 8026
TWICE_WEB_PORT = 8000

[TRAINING_DATA_TABLE]
CHAT = ai_textbooksentense
NICKNAME = ai_nicknametextbook
