[supervisord]

logfile = /opt/logs/supervisord.log



[program:tcpsocket]

directory=/opt/chatfilter/main

command=/opt/venv/bin/python manage.py tcpsocket -port 8026 -host 0.0.0.0 -webport 8000 -webhost 127.0.0.1

autostart=true
autorestart=true

stdout_logfile=/opt/logs/tcpsocket.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=8

stderr_logfile=/opt/logs/tcpsocket-error.log

redirect_stderr=true



[program:tcpsocket-2]

directory=/opt/chatfilter/main

command=/opt/venv/bin/python manage.py tcpsocket -port 8027 -host 0.0.0.0 -webport 8000 -webhost 127.0.0.1

autostart=true
autorestart=true

stdout_logfile=/opt/logs/tcpsocket_2.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=8

stderr_logfile=/opt/logs/tcpsocket_2-error.log

redirect_stderr=true



[program:django]

directory=/opt/chatfilter/main

;command=/opt/venv/bin/python manage.py runserver 0.0.0.0:8000
command=/opt/venv/bin/uvicorn --host 0.0.0.0 --port 8000 service.asgi:application

autostart=true
autorestart=true

stdout_logfile=/opt/logs/django.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5

stderr_logfile=/opt/logs/django-error.log

redirect_stderr=true



[program:trainservice]

directory=/opt/chatfilter/main/asynctrainservice

command=/opt/venv/bin/python main.py

autostart=true
autorestart=true

stdout_logfile=/opt/logs/trainservice.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=8

stderr_logfile=/opt/logs/trainservice-error.log

redirect_stderr=true



[program:interal-grpc-server]

directory=/opt/chatfilter/main

command=/opt/venv/bin/python manage.py rungrpc -port 50051 -webhost 127.0.0.1 -webport 8000

autostart=true
autorestart=true

stdout_logfile=/opt/logs/grpc.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=1




[inet_http_server]
port = *:9001
username = root
password = root